
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html{
    overflow-y:scroll;
}

body{
	/*background-color: #222;*/
}

main{
	width: 100%;
}

#hr-container{
	margin-left: 10px;
	margin-right: 10px;
}

hr{
	margin: 0px auto;
	max-width: 1120px;
/*	height: 1px;
	color: #131313;
	background-color: #131313;
	border: none;*/
}

button, h1, h2, h4, p, small{
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2.2px;
}



button{
	display: block;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	border: none;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}

h1{
	color: #1e1e1e;
	font-weight: 600;
	font-size: 55px;
	transition: font-size 0.5s;	
	line-height: 53px;
	margin-top: 17px;
	margin-bottom: 17px;
}

h4{
	color: #939393;
	font-weight: 300;
	font-size: 15px;
	transition: font-size 0.5s;	
	text-transform: uppercase;
}

p{
	font-size: 15px;
	line-height: 27px;
	color: #939393;
	font-weight: 300;
	margin: 17px 0px;
}

/*--header---*/

#sticky-header{
	position: sticky;
	top: 0px;
	z-index: 1;
}

#header-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #fff;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #d6d6d6;
}

#novarosa-logo{
	margin-left: 15.2%;
	transition: margin-left 1s;
	text-decoration: none;
		position: sticky;
	top: 0px;
}

#novarosa-logo img{
	margin-top: 23px;
	height: 52px;
}

#main-nav{
	margin-right: 13.9%;
	transition: margin 1s;
}

#main-nav ul{
	display: flex;
	list-style: none;
}

#main-nav a{
	text-decoration: none;
}

#main-nav li{
	padding: 37px 15px;
	white-space: nowrap;
	color: #555;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 3.4px;
	transition: background-color 0.3s;
}

#main-nav li:hover{
	background-color: #F2F2F2;
	color: #000;
}


#menu-button{
	cursor: pointer;
	width: 16px;
	display: none;
}



/*--landing-image---*/

#landing-image-container{
	background-image: url("images/landing-image.jpg");
	background-repeat: no-repeat;
	height: 488px;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	transition: height 1s;
	animation-name: fade-in;
	animation-duration: 0.6s;
	animation-timing-function: ease-in-out;
}



/*--dress-offer--*/

#dress-offer-container{
	display: flex;
	justify-content: center;
	margin-top: 37px;
}

.dress-offer-stack{
	text-align: center;
	width: 380px;
}

.dress-offer-stack h2{
	font-weight: 600;
	font-size: 30px;
	color: #444;
	transition: font-size 0.5s;
}

.dress-offer-stack small{
	display: block;
	color: #7a7a7a;
	font-weight: 400;
	font-size: 15px;
	margin-top: 16px;
	margin-bottom: 20px;
	transition: font-size 0.5s;
}

.dress-offer-stack h3{
	font-family: 'Antic', sans-serif;
	letter-spacing: 2.2px;
	color: #4c4c4c;
	font-weight: bold;
	font-size: 30px;
}

#whole-offer-button-container{
	height: 117px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#whole-offer-button{
	margin-top: 15px;
	padding: 10px 24px 11px 24px;
	background-color: #61CE70;
	animation-name: settle-in-from-top;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}


/* About section */



#about-section-container{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 57%;
	margin: 151px auto 1000px auto;
}

#about-section-container img{
	width: 100%;
}

#about-section-column1{
	width: 377px;
	width: 35,9%;
}

#about-section-column2{
	width: 309px;
	width: 32%;
	padding: 0px 35px;
}

#about-section-column3{
	width: 309px;
	width: 32%;
	padding: 0px 35px;
}

.small-divider{
	background-color: #00CE1B;
	width: 56px;
	height: 2px;
}





/*--animations--*/

/*@keyframes fade-in{
  from { opacity: 0;}
}

@keyframes settle-in-from-top {
  from {margin-top: -45px; opacity: 0;}
}

*/

/*--respnsive--*/

@media only screen and (max-width: 1500px){
	#novarosa-logo{
		margin-left: 5.5%;
	}
	#main-nav{
		margin-right: 3.9%;
	}
}

@media only screen and (max-width: 1000px){
	#landing-image-container{
		height: 428px;
	}
	.dress-offer-stack h2{
		font-size: 26px;
	}
}

@media only screen and (max-width: 768px){

	#novarosa-logo{
		margin: 0px auto 5px auto;
	}
	#novarosa-logo img{
		height: 40px;
	}
	#main-nav{
		display: none;
	}
	#menu-button{
		position: absolute;
		display: block;
		right: 0;
		margin-right: 5%;
	}


	#landing-image-container{
		height: 208px;
	}


	#dress-offer-container{
		margin-top: 25px;
	}

	.dress-offer-stack h2{
		line-height: 14px;
		word-spacing: 30000px; 
		font-size: 14px;
	}
	.dress-offer-stack small{
		font-size: 9px;
		margin-top: 10px;
		margin-bottom: 11px;
	}
	#whole-offer-button-container{
		height: 110px;
	}
	#whole-offer-button{
		margin-top: -2px;
	}

}


