
/*ANCHOR global*/

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html{
	overflow-y:auto;
	scroll-behavior: smooth; 
	background-color: white;
}

a{
	text-decoration: none;
}

::selection {
	background: #333; /* WebKit/Blink Browsers */
	color: #fff;
  }
::-moz-selection {
	background: #333; /* Gecko Browsers */
	color: #fff;
}

img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


/*--header------------------------------------------------------------------------------*/
/*ANCHOR header*/

#sticky-header{
	position: sticky;
	width: 100%;
	top: 0px;
	z-index: 1;
}

#header-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #fff;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #d6d6d6;
}

#novarosa-logo{
	margin-left: 15.2%;
	transition: margin-left 1s;
	text-decoration: none;
	position: sticky;
	top: 0px;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

#novarosa-logo img{
	margin-top: 23px;
	height: 52px;
}

#main-nav{
	margin-right: 13.9%;
	transition: margin 1s;
}

#main-nav ul{	
	display: flex;
	list-style: none;
}

#main-nav li{
	padding: 37px 15px;
	white-space: nowrap;
	color: #555;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 3.4px;
	transition: background-color 0.3s, color 0.3s;
}

a{
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0.062);
}


.no-touch #main-nav li:hover{
	background-color: #F2F2F2;
	color: #000;
}

#main-nav.main-nav-mobile-opened{
	z-index: 1;
	opacity: 1;
}

.menu-button{
	display: none;
	position: absolute;
	right: 0px;
	margin-right: 4%;
	cursor: pointer;
	width: 26px;
	height: 26px;
	flex-shrink: 0;
	padding: 5px;
	z-index: 2;
}

.menu-button div{
	width: 100%;
	height: 2px;
	margin: 3px 0px;
	background-color: #000;
	border-radius: 10px;
	transition: all 0.5s;
}

.menu-button.main-nav-mobile-opened div{
	background-color: #fff;
	z-index: 2;
}

.menu-button.main-nav-mobile-opened .menu-burger-line1{
	transform: translate(0px, 5px) rotate(-45deg) ;
}

.menu-button.main-nav-mobile-opened .menu-burger-line2{
	opacity: 0;
}

.menu-button.main-nav-mobile-opened .menu-burger-line3{
	transform: translate(0px, -5px) rotate(45deg) ;
}

#scroll-to-top-button{
	opacity: 0;
	z-index: -1;
	width: 40px;
	height: 40px;
	background-color: #dd4d4d;;
	position: fixed;
	right: 0px;
	bottom: 0px;
	color: white;
	margin: 20px;
	border-radius: 3px;
	transition: all 0.5s ease-out;
}


/*ANCHOR scroll-to-top*/
/*--scroll-to-top-----------------------------------------------------------------------------*/

.no-touch  #scroll-to-top-button:hover{
	background-color: #636363;
}

#scroll-to-top-button:visited, #scroll-to-top-button:active {
	color: red;
  }

#scroll-to-top-button.visible{
	opacity: 1;
	z-index: 0;
}

#scroll-to-top-button #up-arrow{
	width: 15px;
	display: block;
	margin: 0px auto;
	margin-top: 15px;
}


/*ANCHOR footer*/
/*--footer-----------------------------------------------------------------------------*/

footer{
	background-color: #22394c;
}

#footer-content{
	max-width: 1350px;
	margin: 0px auto;
	padding: 0px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#footer-info p{
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 500;
	color: #aaa;
	font-family: "Lato";
	white-space: pre-wrap;
	margin: 17px 0px;
}

footer a{
	color: #7496AB;
	transition: color 0.3s;
}

.no-touch footer a:hover{
	color: #efefef;
}

#footer-nav ul{	
	display: flex;
	list-style: none;
	margin: 25px 0px;
	margin-left: 20px;
	flex-flow: row wrap;
	/* flex-wrap: nowrap; */
}

#footer-nav li{
	font-family: "Lato";
	margin: 8px 0px;
	font-size: 15px;
	letter-spacing: 4.3px;
	font-weight: 400;
	white-space: nowrap;
}

#footer-nav li:not(:first-child):before {
	content: "|";
	color: #aaa;
	margin: 0px 5px;
}


/*--respnsive-----------------------------------------------------------------------------*/

@media only screen and (max-width: 1500px){
	#novarosa-logo{
		margin-left: 5.5%;
	}
	#main-nav{
		margin-right: 3.9%;
	}
}


/*ANCHOR responsive tablet*/

@media only screen and (max-width: 1000px){
	#sticky-header{
		position: static;
	}
}


/*ANCHOR responsive mobile*/

@media only screen and (max-width: 768px){

	#novarosa-logo{
		margin: 0px auto 5px auto;
		text-align: center;
	}
	#novarosa-logo img{
		height: 40px;
	}

	.menu-button{
		display: block;
	}

	#main-nav{
		opacity: 0;
		top: 0px;
		left: 0px;
		position: absolute;
		background-color: rgba(30, 30, 30, 0.932);
		height: 100vh;
		width: 100%; 
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity 0.3s;
		z-index: -1;
	}

	#main-nav ul{	
		flex-direction: column;
		align-items: center;
	}
	
	#main-nav li{
		color: #fff;
		padding: 15px 15px;
		text-transform: uppercase;
	}
	
	.no-touch #main-nav li:hover{
		background-color: transparent;
		color: #929292;
	}

	#footer-content{
		flex-direction: column-reverse;
	}

	#footer-info p{
		text-align: center;
	}

	#footer-nav ul{
		justify-content: center;
		margin: 0px;
		margin-top: 20px;
	}
}
